/*Color and Font Families*/
.animals-color{
    color: red;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/*The main font family in this case will be Roboto, and if it does not exisist it will look for Arial.*/
h1{
    font-family: Roboto, Arial;
    background-color: blue;
}

/*Image Size*/
.larger-image{
    height: 200px;
    width: 200px;
}

/*Border and round corners*/
.thick-green-border{
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
}

/*Circle the image*/
.circle-green-border{
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

/*ID Selector*/
#paragraph{
    color: green;
    
}

/*Attribute Selector*/
[type='radio']{
    margin: 20px;
}
