.box{
    border-style: solid;
    border-color: black;
    border-width: 10px;
    text-align: center;
}

.yellow-box{
    background-color: yellow;
    padding: 10px;
}

.red-box{
    /* Clock Shortcut*/
    padding: 10px 50px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: red;
    margin-bottom: 10px;
    margin-top: 10px;
}

.blue-box{
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: blue;
    /* Clock Shortcut*/
    padding: 30px 10px 50px 20px;
}

p{
    margin: 0;
}